absl-py==1.4.0
aiofiles==23.1.0
aiohttp==3.8.4
aiosignal==1.3.1
altair==5.0.1
antlr4-python3-runtime==4.9.3
anyio==3.7.0
appdirs==1.4.4
argilla==1.8.0
arrow==1.2.3
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
-e git+https://github.com/facebookresearch/audiocraft.git@6d70065e31c2fb422a76237e03740dd3b627de8d#egg=audiocraft
audioread==3.0.0
av==10.0.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
binaryornot==0.4.4
bitsandbytes==0.39.0
black==22.6.0
blis==0.7.9
briefcase==0.3.15
build==0.10.0
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
chromadb==0.3.23
click==8.1.3
clickhouse-connect==0.5.25
cloudpickle==2.2.1
clr-loader==0.2.6
colorama==0.4.6
colorclass==2.2.2
colorlog==6.7.0
comm==0.1.3
commonmark==0.9.1
compressed-rtf==1.0.6
confection==0.0.4
contourpy==1.0.7
cookiecutter==2.3.0
cryptography==41.0.1
cycler==0.11.0
cymem==2.0.7
Cython==0.29.35
dataclasses-json==0.5.7
debugpy==1.6.7
decorator==5.1.1
demucs==4.0.0
Deprecated==1.2.14
diffq==0.2.4
docopt==0.6.2
dora-search==0.1.12
duckdb==0.8.0
easygui==0.98.3
ebcdic==1.1.1
einops==0.6.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
extract-msg==0.41.1
fastapi==0.96.0
ffmpy==0.3.0
filelock==3.12.0
flashy==0.0.2
flatbuffers==23.5.26
-e git+https://github.com/FMInference/FlexGen.git@0869ae830b5093e1dd65afaf3cba6aad3c647f6a#egg=flexgen
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2023.5.0
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.32
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gpt4all==0.2.3
gradio==3.34.0
gradio_client==0.2.6
greenlet==2.0.2
grpcio==1.56.2
h11==0.14.0
h5py==3.9.0
hnswlib==0.7.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.15.1
hydra-colorlog==1.2.0
hydra-core==1.3.2
idna==3.4
IMAPClient==2.3.1
iniconfig==2.0.0
ipykernel==6.23.1
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
julius==0.2.7
jupyter_client==8.2.0
jupyter_core==5.3.0
keras==2.13.1
kiwisolver==1.4.4
lameenc==1.4.2
langchain==0.0.177
langcodes==3.3.0
lark-parser==0.12.0
lazy_loader==0.2
libclang==16.0.6
librosa==0.10.0.post2
linkify-it-py==2.0.2
llama-cpp-python==0.1.50
llvmlite==0.40.1rc1
lxml==4.9.2
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.3
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
monotonic==1.6
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.5
msoffcrypto-tool==5.0.1
multidict==6.0.4
murmurhash==1.0.9
mypy-extensions==0.4.3
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
num2words==0.5.12
numba==0.57.0
numexpr==2.8.4
numpy==1.23.5
oauthlib==3.2.2
olefile==0.46
oletools==0.60.1
omegaconf==2.3.0
openapi-schema-pydantic==1.2.4
openpyxl==3.1.2
openunmix==1.2.1
opt-einsum==3.3.0
orjson==3.9.1
packaging==23.1
pandas==1.3.4
pandoc==2.3
parso==0.8.3
pathspec==0.9.0
pathy==0.10.1
pcodedmp==1.2.6
pdfminer.six==20221105
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==3.10.0
pluggy==1.2.0
plumbum==1.8.2
ply==3.11
pooch==1.6.0
posthog==3.0.1
preshed==3.0.8
prompt-toolkit==3.0.38
protobuf==4.23.4
psutil==5.9.5
PuLP==2.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.9.2
pydub==0.25.1
Pygments==2.15.1
pypandoc==1.11
pyparsing==2.4.7
pyproject_hooks==1.0.0
pyre-extensions==0.0.29
pyrsistent==0.19.3
pytest==7.4.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
python-slugify==8.0.1
pythonnet==3.0.1
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==302
PyYAML==6.0
pyzmq==25.1.0
red-black-tree-mod==1.20
regex==2023.6.3
requests==2.31.0
requests-oauthlib==1.3.1
retrying==1.3.4
rfc3986==1.5.0
rfc3987==1.3.8
rich==13.0.1
rsa==4.9
RTFDE==0.0.2
scikit-learn==1.2.2
scipy==1.10.1
semantic-version==2.10.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.15
srsly==2.4.6
stack-data==0.6.2
starlette==0.27.0
submitit==1.4.5
sympy==1.12
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
text-unidecode==1.3
thinc==8.1.10
threadpoolctl==3.1.0
toga-core==0.3.1
toga-winforms==0.3.1
tokenizers==0.13.3
tomli==2.0.1
tomli_w==1.0.0
toolz==0.12.0
torch==1.11.0+cu113
torchaudio==2.0.2
torchvision==0.15.2
tornado==6.3.2
tqdm==4.64.1
traitlets==5.9.0
transformers==4.29.2
travertino==0.2.0
treetable==0.2.5
typer==0.7.0
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.2
uc-micro-py==1.0.2
unstructured==0.6.6
urllib3==1.26.16
uvicorn==0.22.0
vboxapi==1.0
wasabi==1.1.2
watchfiles==0.19.0
wcwidth==0.2.5
websocket-client==1.5.2
websockets==11.0.3
Werkzeug==2.3.4
win-unicode-console==0.5
win32-setctime==1.1.0
wrapt==1.14.1
xformers==0.0.20
XlsxWriter==3.1.2
xxhash==3.2.0
yarl==1.9.2
zstandard==0.21.0
